.contact{
    padding: 5vw;
    background-color: $cl-red-02;

    &-title{
        margin-bottom: 50px;
    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        &-map{
            width: 100%;
            aspect-ratio: 1/1;
        }

        &-form{
            padding: 50px;
            width: 100%;

            &-group{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                &-input, &-textarea{
                    display: flex;
                    padding: 10px 20px;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid $cl-red-01;
                    font-size: 14px;
                    font-weight: 600;
                    width: 100%;
                    font-family: $ff-secondary;

                    &::placeholder{
                        color: $cl-red-03;
                    }
                }
            }
        }

        &-infos{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .infos{
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 1px solid $cl-red-01;
                width: 100%;

                &-title{
                    display: flex;
                    padding: 10px 20px;
                    justify-content: center;
                    gap: 10px;
                    border-bottom: 1px solid $cl-red-01;
                    background: $cl-beige-01;
                    font-size: 16px;
                    font-weight: 900;
                }

                &-content{
                    display: flex;
                    padding: 10px 20px;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;

                    &-title{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }

                    &-title, &-text{
                        font-size: 14px;
                        font-weight: 900;
                    }

                    &-text{
                        font-family: $ff-secondary;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px){
    .contact-grid{
        grid-template-columns: 1fr;

        &-infos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }
}

@media (max-width: 576px){
    .contact-grid-infos{
        grid-template-columns: 1fr;
    }
}