body{
    font-family: $ff-primary;
    color: var(--color);
    scroll-behavior: smooth;
    background-color: var(--background);
}

main{
    overflow-y: hidden;
    height: 100vh;
}

a{
    color: var(--color);
    text-decoration: none;
}

header, section, footer, nav{
    box-sizing: border-box;
}

%img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-md{
    font-size: 20px;
    font-family: $ff-secondary;
    line-height: 1.4;
}

.text-lg{
    font-size: 32px;
    font-family: $ff-secondary;
    line-height: 1.4;
}

.text-xl{
    font-size: 48px;
    font-family: $ff-secondary;
    line-height: 1.4;
    font-weight: 400;
}

.title-md{
    font-size: 32px;
    font-family: $ff-primary;
    line-height: 1.2;
}

.title-lg{
    font-size: 62px;
    font-family: $ff-primary;
    line-height: 1.2;
}

.uppercase{
    text-transform: uppercase;
}
// .cl-red-01{
//     color: $cl-red-01;
// }

// .bg-red-01{
//     background-color: $cl-red-01;
// }

%flag{
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    font-family: $ff-primary;
}

.flag-red-fill{
    @extend %flag;
    background-color: $cl-red-01;
    border: 1px solid $cl-red-01;
    color: $cl-white-01;
}

.flag-red-stroke{
    @extend %flag;
    border: 1px solid $cl-red-01;
    color: $cl-red-01;
}

.title-section{
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.left{
        justify-content: flex-start;
    }
}

.text-reading{
    position: relative;

    p{
        opacity: 0.4;
        max-width: 800px;
    }

    .text-2{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}


// .logo{
//     font-size: 24px;
//     text-transform: uppercase;
// }

%btn{
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    transition: 300ms;
    border-radius: 20px;
    border: none
}

.btn-primary-fill{
    @extend %btn;
    color: $cl-white-01;
    background: $cl-red-01;

    &:hover{
        backdrop-filter: brightness(0.5);
    }
}

// body{
//     overflow-y: hidden;
// }

// .title-section{
//     font-size: 48px;
//     font-weight: 900;
// }

// input, textarea, button{
//     outline: none;
//     border: none;
//     background-color: transparent;
// }

// @media (max-width: 992px){
//     .logo{
//         font-size: 20px;
//     }
// }

@media (max-width: 768px){
    .text-md{
        font-size: 18px;
    }
    
    .text-lg{
        font-size: 28px;
    }
    
    .text-xl{
        font-size: 42px;
    }
    
    .title-md{
        font-size: 28px;
    }
    
    .title-lg{
        font-size: 54px;
    }
}

@media (max-width: 576px){
    .text-md{
        font-size: 16px;
    }
    
    .text-lg{
        font-size: 24px;
    }
    
    .text-xl{
        font-size: 36px;
    }
    
    .title-md{
        font-size: 24px;
    }
    
    .title-lg{
        font-size: 48px;
    }
}