.nav{
    background-color: $cl-beige-02;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    // Structure
    &-left{
        flex: 1;
        display: flex;
        gap: 20px;
    }

    &-center{
        flex: 1;
        display: flex;
        justify-content: center;
    }

    &-right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    // Content
    &-link{
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media (max-width: 992px){
    .nav-link{
        font-size: 12px;
    }

    .nav-right{
        .nav-link:last-child{
            display: none;
        }
    }
}

@media (max-width: 768px){
    .nav-left, .nav-right{
        display: none;
    }
}

